
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
}
img{
	border:1px;
	border-radius:2px;
}
h1{
	font-family: Arial, sans-serif;
}
a{
	color:black;
}
#skills{
	text-align:center;
}
#projects{
	text-decoration:underline;
	text-align:center;
}